*{
      box-sizing: border-box;
}

body{
      margin: 0;
}

.table {
      width: 100%;
      background-color: #888684;
      border-collapse: collapse;
}

th {
      background-color: #6e2828;
      color: #c6cbcfb9;   
}


tr {
      /* background-color: #6e5d55; */
      text-align: center;
      color: #131212;     
}

td{
      border: 1px solid;
      padding: 1em;
}

